# Java class files
*.class

# Log files
*.log

# IDE 설정 파일 (Eclipse)
.classpath
.project
.settings/

# 빌드/배포 폴더
/build/
/bin/
/target/

# 압축/패키지 파일
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.nar

# VM 오류 로그
hs_err_pid*
replay_pid*

# OS 및 기타
.DS_Store
Thumbs.db

# 업로드된 사용자 파일 제외
/webapp/upload/
